{% extends 'base.html' %}

{% block body %}

  <body>
    <section>
<div class="container">
    <div class="col1">
        <br>
        <h1>Welcome to the swankiest Melon Tasting Room in SoCal!</h1>
  <img src="/static/img/melons.jpg" alt="melons.jpg">
</div>

<br>
<div class="col2">
  <br>
<h2>Please enter your name or email to enter</h2>
<form action="/reservations" method="POST">
  <p>
    Username <input type="text" name="name">
  </p>
  
  <p>
    <input type="submit">
  </p>
    </form>
    </div>


</div>
</section>
</body>
{% endblock %}
