{% extends 'base.html' %}

{% block body %}

  <body>
    <section>
<div class="container">
    <div class="col1">
        <br>

  <img src="/static/img/watermelon.jpg" alt="watermelon.jpg">
</div>

<div class="col2">
    <br>
    <h1>Please pick your preferred date </h1>
    <form action="/results" method="POST">
    <p>
        <input type="date" name='date'/>
      </p>
      <h2>Please pick a reservation window </h2>
      <p>
        <input type="time" name="start"/>
      </p>
      <p>
        <input type="time" name="end"/>
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
</div>
</div>
</section>
</body>
{% endblock %}
