{% extends 'base.html' %}

{% block body %}

  <body>
    <section>
<div class="container">
    <div class="col1">
        <br>

  <img src="/static/img/watermelon.jpg" alt="watermelon.jpg">
</div>

<div class="col2">
    <br>
    <h1>Please pick your preferred date </h1>
    <form action="/results" method="POST">
    <p>
      <input type="date" id="date" name="date"
      value="2022-01-01"
      min="2022-01-01" max="2022-12-31" required>
      </p>
      <h2>Please pick a reservation window </h2>
      <p>From:</p>
      <input type="time" id="start" name="start"
             min="00:00" max="23:59">
      <p>To:</p>
      <input type="time" id="end" name="end"
             min="00:00" max="23:59">
      <p>
        <input type="submit">
      </p>
    </form>
</div>
</div>
</section>
</body>
{% endblock %}
