{% extends 'base.html' %}

{% block body %}

  <body>
    <section>
<div class="container">
    <div class="col1">
        <br>

  <img src="/static/img/melons.jpg" alt="melons.jpg">
</div>

<div class="col2">
    <br>
    <!-- <h1>Here are your reservations </h1>
    <ol id="reservation_list">
        <br>
            <ul id="reservations-body">
                 {% for reservation in saved_res %}
                  <li> {{ reservation }} </li>
                  {% endfor %}
        </body> -->
        <body> 
        <ul id="reservation_times">
        {% for reservation in reservations %}
        <form action="/save_reservation" method="POST">
        <br>
        <button type="submit" name="reservation_id" value="{{ reservation.id }}">
            Choose {{ reservation.date }} at {{ reservation.time }}?
        </button>
        {% endfor %}
    </ul>
    </body>    
    </form>
    <br>
    <h3>We hope you have a sweet (melon) time and you musk tell all your friends! </h3>
</div>
</div>
</section>
</body>
{% endblock %}